@import url('https://fonts.googleapis.com/css?family=Muli:900|Poppins&display=swap');

$color-red: #B44E59;
$color-blue: #355C7D;
$color-blue-dark: #213e58;

$heavy-font: 'Muli', sans-serif;
$normal-font: 'Poppins', sans-serif;